@font-face {
  font-family: 'Eloquia';
  src: url('../assets/fonts/eloquia-extra-light.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Eloquia';
  src: url('../assets/fonts/eloquia-regular.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Eloquia';
  src: url('../assets/fonts/eloquia-semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Eloquia';
  src: url('../assets/fonts/eloquia-extra-bold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
